
    <section id="cd-intro">

      <div id="cd-intro-background"></div>
      <div id="cd-intro-tagline">
        <h1>Douglas James</h1><br>
        <h3>Web Developer</h3>
      </div> <!-- cd-intro-tagline -->
    </section> <!-- #cd-intro -->


  <div id="about">
    <div class="cd-content">
      <div class="cd-container">     
          <h2>About</h2>
          <%=image_tag("dug_ocean_copy.jpg", :class => "photo")%>
          <p>I'm a web developer and musician that appreciates simple, beautiful websites. My experience
          producing music developed my passion for creating meaningful projects and solving complex
          problems efficiently. I love learning new technologies, designing excellent user  experiences,
          and discovering new music.</p>
      </div>
    </div>
  </div>

  <div id="projects">
    <div class="cd-content2">
      <div class="cd-container">      
        <h2>Projects</h2>
          <div class="project"> 
            <h4>Repose</h4>
              <div class="line"></div>
                <p>A mobile application to help people cope with and manage their panic attacks and acute anxiety. It was created in one week as final project at Dev Bootcamp. Contributions: Splash page, Functionality, Front End. Technologies: Ruby on Rails, Xcode, Swift, Alamofire, Bootstrap. repose.herokuapp.com/</p>
          </div>
        
        <div class="project">   
          <p>Street art portland hella brooklyn, authentic pabst tumblr. Echo park woke cronut, food     truck       biodiesel lyft actually deep v mixtape. Kickstarter williamsburg artisan, 8-  bit   leggings kombucha       kinfolk master cleanse tattooed organic godard humblebrag   shoreditch  occupy echo park.      Intelligentsia organic pitchfork, selfies health goth  retro bushwick.   Kombucha sartorial biodiesel      you probably haven't heard of them,  hell of viral trust   fund gochujang mlkshk. Hammock letterpress    tote bag wayfarers   venmo DIY air plant hella  cliche authentic. Narwhal cliche 3 wolf moon, tote      bag  ennui etsy tofu quinoa organic   put a bird on it hammock.
          
          Kickstarter austin four loko, aesthetic irony green juice DIY viral. Selvage everyday     carry       waistcoat biodiesel organic knausgaard. Trust fund kombucha prism plaid lomo  air  plant, keffiyeh      lumbersexual scenester keytar poutine pour-over letterpress  coloring  book. Fingerstache kitsch      iceland readymade selvage, hell of offal ramps  pour-over  williamsburg schlitz +1 gochujang before     they sold out brunch. Drinking   vinegar fam  beard, woke art party plaid master cleanse bushwick     fashion axe  thundercats hashtag  forage live-edge. Activated charcoal skateboard migas actually,       before they sold out   sustainable forage irony listicle enamel pin 90's four dollar toast  cold-   pressed pickled   biodiesel. Affogato raw denim banjo, cred disrupt wolf cliche  cray.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="contact">
    <div class="cd-content3">
      <div class="cd-container">     
          <h2>Contact</h2>
          <a href="mailto:dpjames29@gmail.com">dpjames29@gmail.com</a>
      </div>
    </div>
  </div>


   
