  <section id="cd-intro">
    <div id="cd-intro-background"></div>
    <div id="cd-intro-tagline">
      <h1>Douglas James</h1><br>
      <h3>Web Developer</h3>
    </div> <!-- cd-intro-tagline -->
  </section> <!-- #cd-intro -->

  <main class="cd-content">
    <div class="cd-container">
      <h2>About</h2>
      <p>I have a passion for technology, solving problems and sophisticated systems that initially led me to become a music producer. I worked on many large, complex projects requiring accurate work and attention to detail. I love doing the back end technology work that leads to beautiful media experiences.</p>

      <p>That enthusiasm for creating amazing user experiences is what has led me to web development. My desire is to make meaningful, functional and beautiful applications that can be appreciated by users, and code that is appreciated by co-workers!</p>

      <p>A web developer and musician that appreciates simple, beautiful websites. My experience
      producing music developed my passion for creating meaningful projects and solving complex
      problems efficiently. I love learning new technologies, designing excellent user experiences,
      and discovering new music.</p>
    </div>
<!--       <div class="projects">
        <div class="pic">
        <h2>Projects</h2>
        <p>I have a passion for technology, solving problems and sophisticated systems that   initially led me to become a music producer. I worked on many large, complex projects   requiring accurate work and attention to detail. I love doing the back end technology work  that leads to beautiful media experiences.</p>
  
        <p>That enthusiasm for creating amazing user experiences is what has led me to web  development. My desire is to make meaningful, functional and beautiful applications that can   be appreciated by users, and code that is appreciated by co-workers!</p>
        </div>
      </div> -->
  </main> <!-- cd-content -->