// colors

$background: #2e313d; // body background color
$color-1: #1c4a7e; // blue
$color-2: #ffffff; // white
$color-3: #1c2023; // dark gray text

//header height

$header-height-S: 50px;
$header-height-M: 70px;

//intro height

$intro-height-S: 300px;
$intro-height-M: 400px;
$intro-height-L: 500px;

// fonts 

$primary-font: 'Helvetica', ultra light;

//z-index - order the elements from the lowest z-index(left) to the highest(right)

$elements: intro-image, main-content, navigation;