  
  <header class="cd-header">
    <div id="cd-logo"><a href="#home">Douglas James</a></div>


    <nav class="cd-main-nav">
      <ul>
        <!-- inser more links here -->
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="https://drive.google.com/open?id=0B2_leZ2mUCkjazVkSUZ4MzAyMm8">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav> <!-- cd-main-nav -->
  </header>